body {background-image:url(https://img.freepik.com/free-vector/paper-style-white-monochrome-background_23-2148996460.jpg?size=626&ext=jpg&ga=GA1.1.2082370165.1716768000&semt=ais_user)
}


h1 {color:
}


h1 { text-align:center
}

.center{ 
    display:block;
width: 50%;
margin-left:auto;
margin-right: auto;

}

li {
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font: weight 500px;
;
}

